Gerencia de la informática/Unidad 4/s ultimo.mp4
Gerencia de la informática/Unidad 4/s penultima.mp4
Gerencia de la informática/Unidad 4/s liderazgo.mp4
Gerencia de la informática/Unidad 4/s inicio.mp4
Gerencia de la informática/Unidad 4/s habilidades interpersonales.mp4
Gerencia de la informática/Unidad 4/s Habilidades estratégicas.mp4
Gerencia de la informática/Unidad 4/s comunicación.mp4
Gerencia de la informática/Unidad 4/Jhonnier Rodriguez.mp4
Gerencia de la informática/Unidad 4/Manuel Ramos.mp4
Gerencia de la informática/Unidad 4/Marcos gelde.mp4
Gerencia de la informática/Unidad 4/Neydavis Campos.mp4
Gerencia de la informática/Unidad 4/Video exposición, Tema 6 y 7, Informática IF01 T4 Intensivos.mp4
